<div class="container col-mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Retirar Saldo</span>
                    <form class="mt-3" [formGroup]="personaForm" (ngSubmit)="Consignar()">
                        <div class="mb-3">
                            <label for="">Saldo</label>
                            <input formControlName="saldo" name="saldo" type="number" class="form-control form-control-lg">
                            <div class="text-danger" *ngIf="personaForm.get('saldo')?.hasError('required') && personaForm.get('saldo')?.touched">
                                <span><strong>El saldo es obligatorio</strong></span>
                            </div>
                        </div>
                        <button type="submit" [disabled]="personaForm.invalid" class="btn btn-success btn-lg" style="margin:20px;">Realizar Transaccion</button>
                        <button class="btn btn-danger btn-lg" style="margin:20px;" routerLink="/">Volver</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>